body {
    width: 300px;
    height: 400px;
    margin: 10px;
}

input[type=text] {
    width: 60%;
}

input[type=image] {
    width: 50px;
    height: 50px;
    border: none;
    padding: 4px;
}

div.test {
    padding: 8px;
}

div.text textarea {
    width: 100%;
    font-size: 80%;
}

