.master {
    width: 350px;
    margin: 20px;
}

.share_button {
    margin: 5px;
    width: 55px;
    height: 55px;
    border: none;
}

.char_count {
    text-align: right;
}

.internal_buttons {
    margin-top: 5px;
    text-align: right;
}

#share_text {
    font-size: 10pt;
    width: 100%;
}

