hr {
    margin: 20px;
}

.master {
    max-width: 300px;
    margin: 10px;
}

.share_display {
    margin: 10px;
}

.share_button {
    margin: 5px;
    width: 55px;
    height: 55px;
    border: none;
}

#share_text {
    width: 100%;
}

