/*
 *
 */
#head_text {
    width: 50%;
}

ul {
   list-style:  none;
   padding-left: 0;
}

li {

    border-bottom: #e0e0e0 solid 1px;
    display: flex;

}

.master {
    max-width: 500px;
}

.user_icon {
    width: 70px;
}

.user_host {
    color: lightgray;
}

.usernames {
    display: inline-block;
    margin: 5px;
}

.account_item {
    padding: 10px;
}

