/*
 *
 */
ul {
    list-style:  none;
    padding-left: 0;
}

li {
    border-bottom: #e0e0e0 solid 1px;
    display: flex;

}

.master {
    width: 350px;
    margin: 20px;
}

.master_control {
    display: flex;
}

.master_control_description {
    display: flex;
    flex-direction: column;
}

.master_controller {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.user_icon {
    width: 70px;
    margin: 5px 10px;
}

.host {
    color: lightgray;
}

.usernames {
    display: inline-block;
    margin: 10px 5px;
}

.refresh_button {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.account_item {
    padding: 10px;
}

.account_control {
    display: flex;
}


.control_add, .control_remove {
    display: flex;
    flex-direction: column;
}

.control_remove {
    margin-left: auto;
}

#head_text {
    width: 50%;
}

#button_add {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 3px 1px #666;
    border-radius: 10px;
}

#button_remove, #button_clear_all {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #b22222;
    box-shadow: 2px 2px 3px 1px #666;
    font-weight: bold;
    border-radius: 10px;
}

#modal {
    z-index: 2;
    position: absolute;
    background: #fff;
    color: #555;
    padding: 10px;
    border-radius: 4px;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    transition: 0.3s;
}

#modal_overlay {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0,0,0,0.75);
}

#modal.modal_hidden {
    transform: translate(0, -500px);
}

#modal_overlay.modal_hidden {
    display: none;
}

.modal_buttons {
    margin: 5px 0px;
}

