/*
 *
 */
ul {
    list-style:  none;
    padding-left: 0;
}

li {
    border-bottom: #e0e0e0 solid 1px;
    display: flex;

}

.master {
    padding: 10px;
    width: 350px;
}

.user_icon {
    width: 70px;
    margin: 5px 10px;
}

.host {
    color: lightgray;
}

.usernames {
    display: inline-block;
    margin: 10px 5px;
}

.refresh_button {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.account_item {
    padding: 10px;
}

.account_control {
    display: flex;
}

.control_remove {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

#head_text {
    width: 50%;
}

#button_add {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 3px 1px #666;
    border-radius: 10px;
}

#button_remove, #button_clear_all {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #b22222;
    box-shadow: 2px 2px 3px 1px #666;
    font-weight: bold;
    border-radius: 10px;
}

